.container {
    box-shadow: 0px 0px 30px 0px #bebebe;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    height: 835px;
    position: relative;
}

h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.counter {
    background-color: #eaecf0;
    text-align: center;
}

.employees,
.customer,
.design,
.order {
    margin-top: 70px;
    margin-bottom: 70px;
}

.counter-count {
    font-size: 20px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-bottom: 35px;
}

.employee-p,
.customer-p,
.order-p,
.design-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}