<div class="card">
    <img class=" info_image about_img" src="../../../assets/pictures/images (2).jpeg" alt="Card image">
    <div class="card-body">
        <br>
        <h4 class="card-title"><i class="fas fa-apple-alt"></i> OnLine Market</h4>
        <p class="card-text">
            OnLine Market was established in Israel over the last year as a comunity on-line grocery. Our objective is to provide our customers with the best shopping experience in terms of service, range and price, which builds a strong business and delivers long
            term value for our shareholders. We have developed a unique end-to-end operating solution for online grocery retail based on proprietary technology and IP, suitable for operating our own business and those of our commercial partners. The world
            is changing fast, driven by different shopping habits and ever more advanced technology for the consumer. Grocery is the largest of all retail segments and is moving online. Moreover, the rapid growth of shopping using mobile devices opens
            new opportunities. We are well positioned to take advantage of these long-term structural trends for the benefit of our customers.
        </p>
        <p>
            To build our pioneering online shopping and fulfilment business model, we had to design our own proprietary solutions from scratch: there was no blueprint to follow; no off-the-shelf solution to buy.
        </p>
    </div>
</div>