.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.container {
    box-shadow: 0px 0px 30px 0px #bebebe;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 30px;
    height: 835px;
}

.new_customer {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.user_name {
    color: black;
}